<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Text Utils</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ANJTextUtils.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
                </li> 
                <li class="nav-item">
                <a class="nav-link" href="#">Feedbacks</a>
                </li>
            </ul>
            </div>
        </div>

        <style>.fa {
            padding: 20px;
            font-size: 30px;
            width: 30px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
        }
        .fa:hover {
        opacity: 0.7;
        }</style>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Add font awesome icons -->
        <a href="https://www.facebook.com/nancy.aanchal.3/" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/nancy___aanchal/" class="fa fa-instagram"></a>

    </nav>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success</strong> Your text has been analyzed.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="container p-3 mb-2 bg-light text-dark">
        <h1>Your Text has been Analyzed</h1>
        <a>
            <pre>{{analyzed_text}}</pre> 
        </a>
        <br><br><b>Number of characters = </b><i>{{char_count}}</i>
        <br><button type="button" class="btn btn-outline-success mt-3"><a href='/'>  Back </a></button>

    </div>

    <div class="container-fluid text-bg-dark mb-3" >
        <p style="text-align:center">@ANJTextUtils</p>
    </div>

</body>
</html>